@model  List<Hotel.Models.Booking>
@{
    ViewBag.Title = "Index";
}

<div class="page">
    <div id="room">

        <div class="header">
            <div class="row">
                <div class="col-9">
                    <h1><i class="fas fa-sticky-note"></i>Bookinglər</h1>
                </div>
                <div class="col-3 text-right">
                    <a href="@Url.Action("create","booking")" class="btn btn-success">Yeni Booking Yarat</a>
                </div>

            </div>
        </div>

        <div class="room-list">
            <table class="table table-hover">
                <thead>
                    <tr style="background-color:black">
                        <th>Otaq</th>
                        <th>Giriş</th>
                        <th>Çıxış</th>
                        <th>Müştəri</th>
                      
                        <th>Istifadəçi</th>
                         <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Room.Number
                            </td>
                            <td>
                                @item.CheckIn
                            </td>
                            <td>
                                @item.CheckOut
                            </td>
                            <td>
                                @item.Customer.Fullname
                            </td>
                          
                            <td>
                               @item.User.FullName
                            </td>
                           
                            <td>
                                <a href="@Url.Action("edit", new { id=item.Id})" class="btn btn-primary mb-1" style="width:90px;">Yenilə</a>
                               @*<button type="button" class="btn btn-status">@item.Status</button>*@
                            </td>
                        </tr>
                    }




                </tbody>
            </table>
        </div>



    </div>
</div>